<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_bueno"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_bueno"
        android:supportsRtl="true"
        android:theme="@style/Theme.DarLaNota"
        android:requestLegacyExternalStorage="false"
        tools:targetApi="31">

        <activity
            android:name=".modelos.PaginaLogin"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modelos.PaginaActividadAlumno" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaRankingAlumno" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaPerfilAlumno" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaPerfilProfe" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaActividadProfe" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaLogrosAlumno" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaRegistro" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaRankingProfe" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaVerActividad" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaCorregirActividad" android:screenOrientation="portrait" />
        <activity android:name=".modelos.PaginaAltaActividad" android:screenOrientation="portrait" />
    </application>
</manifest>
