<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_bueno"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DarLaNota"
        tools:targetApi="31">

        <activity
            android:name=".modelos.PaginaLogin"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modelos.PaginaActividadAlumno"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modelos.PaginaRankingAlumno"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaPerfil"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaActividadProfe"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaInstrumentos"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaRegistro"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaRankingProfe"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaVerActividad"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaCorregirActividad"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modelos.PaginaAltaActividad"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>